Ce notebook permet d'importer et de traiter les données. 

Son éxecution étant assez longue, nous avons enregistré  les dataframes finales dans des csv. Pour éxecuter ce notebook, vous aurez besoin d'un identifiant et d'un token que vous pouvez obtenir en vous connectant sur le site : https://api.insee.fr/catalogue/site/themes/wso2/subthemes/insee/pages/sign-up.jag et que vous devrez compléter dans la première ligne de code.

In [ ]:
key="k32RC1ZJH8RV4Llh6kTRakU15tca"
secret="CTnVGRLchI7dbJOlrvYbrOyIfnMa"

**Les importations**

In [1]:
#!pip install contextily
#!pip install geopandas
#!pip install pygeos
#!pip install geopy
#!pip install pynsee[full]

In [54]:
import contextily as ctx
from geopy.geocoders import Nominatim
from shapely.geometry import Point
import geopandas as gpd
import pandas as pd
import pynsee
from pynsee.utils.init_conn import init_conn
from tqdm.notebook import tqdm, trange

**Importation des données**

Nous avons utilisé l'API sirene afin de ne pas surcharger notre environnement de travail avec la base complète du fichier sirene.

In [69]:
N=100000

init_conn(insee_key=key, insee_secret=secret)
data = pynsee.search_sirene(variable = ["activitePrincipaleEtablissement"],
                       pattern = "10.71C", kind = 'siret', number=N)

data = data.loc[data['dateFin'].isnull()]
df=data[["activitePrincipaleEtablissement","typeVoieEtablissement","libelleVoieEtablissement","libelleCommuneEtablissement","codePostalEtablissement"]]

Token has been created
!!! Please subscribe to BDM API on api.insee.fr !!!
!!! Please subscribe to Metadata API on api.insee.fr !!!
!!! Please subscribe to Local Data API on api.insee.fr !!!

In [70]:
df=df.dropna()

liste_departements=["75","77","78","91","92","93","94","95"]
department=[]
for ville in df.codePostalEtablissement:
    department.append(ville[:2])
df['departement']=department

df=df[(df.activitePrincipaleEtablissement=="10.71C") && (df.departement.isin(liste_departements))]
df

,activitePrincipaleEtablissement,typeVoieEtablissement,libelleVoieEtablissement,libelleCommuneEtablissement,codePostalEtablissement,departement
72,10.71C,RUE,PIERRE CURIE,VILLEPREUX,78450,78
74,10.71C,RUE,DE SEVRES,PARIS 7,75007,75
82,10.71C,RUE,DES PIERRETTES,MAGNANVILLE,78200,78
117,10.71C,RUE,DISPAN,L'HAY-LES-ROSES,94240,94
122,10.71C,RUE,DU 14 JUILLET,CORBEIL-ESSONNES,91100,91
...,...,...,...,...,...,...
44041,10.71C,RUE,JEAN JAURES,TRAPPES,78190,78
44043,10.71C,RUE,EDOUARD BRANLY,ORMESSON-SUR-MARNE,94490,94
44045,10.71C,CHE,DE LA CROIX DE BOIS,HERBLAY-SUR-SEINE,95220,95
44048,10.71C,AV,JEAN JAURES,ARGENTEUIL,95100,95
44058,10.71C,RUE,DES DAMES,MONTEREAU-FAULT-YONNE,77130,77

In [71]:
def get_location(adress):
    geolocator = Nominatim(user_agent="tutorial")
    location = geolocator.geocode(adress)
    return((location.longitude, location.latitude))

def get_location_all(commerces):
    commerces["typeVoieEtablissement"] = commerces["typeVoieEtablissement"].map({"RUE": "rue", "AV": "avenue", "CHS": "chaussée", "CHE": "chemin", "PL": "place", "HAM": "hameau", "BD": "boulevard", "QUAI": "quai", "ALL": "allée"})
    geom = []
    liste_long=[]
    liste_lat=[]
    for k in tqdm(range(len(commerces))):
        number_dropped=0
        new_k=k-number_dropped
        try:
            type_voie, libelle_voie, commune = commerces.iloc[new_k,1], commerces.iloc[new_k,2], commerces.iloc[new_k,3]
            loc1,loc2=get_location(f"{type_voie} {libelle_voie} {commune}")
            if loc1<4 and loc1>1.5 and loc2>47 and loc2<51
                geom.append(Point(loc1,loc2))
                liste_long.append(loc2)
                liste_lat.append(loc1)
            else:
                commerces=commerces.drop(df.index[new_k])
                new_k+=1
        except Exception:
            commerces=commerces.drop(df.index[new_k])
    commerces = commerces.set_geometry(geom)
    commerces['long']=liste_long
    commerces['lat']=liste_lat
    return(commerces)

In [127]:
#df=get_location_all(df)
df

,activitePrincipaleEtablissement,typeVoieEtablissement,libelleVoieEtablissement,libelleCommuneEtablissement,codePostalEtablissement,departement,geometry,long,lat
11,10.82Z,rue,LEJEMPTEL,VINCENNES,94300,94,POINT (3.2999247 48.559829),3.299925,48.559829
243,10.82Z,rue,LAMARTINE,SAINTE-GENEVIEVE-DES-BOIS,91700,91,POINT (3.2846732 48.5617688),3.284673,48.561769
32,10.82Z,rue,DE VALENGELIER,CHELLES,77500,77,POINT (3.2844067 48.5623982),3.284407,48.562398
259,10.82Z,rue,JEAN LONGUET,CHATENAY-MALABRY,92290,92,POINT (3.133646 49.102456),3.133646,49.102456
87,10.82Z,rue,ALEXANDRE COUTUREAU,SAINT-CLOUD,92210,92,POINT (2.971081 48.6351652),2.971081,48.635165
...,...,...,...,...,...,...,...,...,...
86,10.82Z,rue,DES COTES REVERSES,CONFLANS-SAINTE-HONORINE,78700,78,POINT (1.8719733 49.0448333),1.871973,49.044833
33,10.82Z,rue,RIEUSSEC,VIROFLAY,78220,78,POINT (1.8572911 48.909283),1.857291,48.909283
124,10.82Z,avenue,LEDRU ROLLIN,PARIS 11,75011,75,POINT (1.850591 48.9090474),1.850591,48.909047
137,10.82Z,rue,GUICHARD,CACHAN,94230,94,POINT (1.8057425 48.7751968),1.805743,48.775197
149,10.82Z,rue,DE MIROMESNIL,PARIS 8,75008,75,POINT (1.6030925 48.7881793),1.603093,48.788179

In [128]:
df.to_csv("chocolateries.csv", encoding='utf-8', index=False)